
/* scrollbar */
.bstimeslider {  
	height: 350px;
	/* background:#ccc; */
	position:relative; 

}
.arrow{
	width: 4%;
	height: 100%;
	background:white; 
	position:absolute;
	opacity: 0.5;
	z-index: 11;
	font-size: 80px;
	color: gray;
	cursor: pointer;
	top: 2%;
	height: 200px;
	text-align: center;
    vertical-align: middle;
    line-height: 157px;
	display: block;
}
.arrow:hover{
	opacity: 0.8;
}
#leftArrow {
	left:0px;
}

#rightArrow {
	right:0px;
}
div{
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.bktibx {
    
	float:left;
	display:block;
	margin:10px 0 0 0 ;
	margin-left: 8px;
/* margin:0 40px 0 0 ; */
/* font-size:18px; */
/* width:60px; */
/* background:#000; */
/* color:#fff; */
    
}

#tslshow {
	position:absolute;
	left:0;
	width: 110%;
	/* width: 100%; */
	   
}
#viewContainer {
	width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.imageDiv img { 
	box-shadow: 1px 1px 10px #999; 
	margin: 2px;
	max-height: 50px;
	cursor: pointer;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;

}

.transition img {
    display: block;
    transition: transform .2s ease, z-index 0.2s 0.2s;
    -moz-transition: transform .2s ease, z-index 0.2s 0.2s;
    -webkit-transition: transform .2s ease, z-index 0.2s 0.2s;
    -ms-transition: transform .2s ease, z-index 0.2s 0.2s;
    -o-transition: transform .2s ease, z-index 0.2s 0.2s;
    position: relative;
    z-index: 2;
}

.transition:hover .imgclass {
	transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    z-index: 10;
    transition: transform .2s ease, z-index 0s;
    -moz-transition: transform .2s ease, z-index 0s;
    -webkit-transition: transform .2s ease, z-index 0s;
    -ms-transition: transform .2s ease, z-index 0s;
    -o-transition: transform .2s ease, z-index 0s;
}
.transition:hover .simpletext {
	transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    z-index: 10;
    transition: transform .2s ease, z-index 0s;
    -moz-transition: transform .2s ease, z-index 0s;
    -webkit-transition: transform .2s ease, z-index 0s;
    -ms-transition: transform .2s ease, z-index 0s;
    -o-transition: transform .2s ease, z-index 0s;
}
img.imgclass {
	box-shadow: 1px 1px 10px #999;
	width: 100%;

}

section.detailsec {
	width:19%;
	float: left;
	text-align: center;
	padding: 5px;	 
}

p.simpletext{
	font-family: "Verdana";
	width: 95%;
	text-align: left;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom:3px;
}
p + p{
	color:gray;
	font-family: "Verdana";
	width: 95%;
	text-align: left;
	font-weight: bold;
	font-size:10px;
}
p.header{
	font-family: "Verdana";
}


